a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  zoom: 80%;
  font-family: "Montserrat", sans-serif;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.list {
  height: 5%;
}
